:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html,
body {
    width: 100vw;
    height: 100vh;
}
